{% extends "app.html.j2" %}
{% block title %}Submissions{% endblock %}

{% block content %}

{% if not last_submission_pending or True %}
<form action="{{ url_for('submissions.new') }}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">New submission...</button>
</form>
{% endif %}
<br>
<h1>Submissions</h1>
<table>
    <tr>
        <th>Started</th>
        <th>Status</th>
        <th>Grade</th>
        <th>Actions</th>
    </tr>
    {% for submission in submissions %}
    <tr>
        <td>{{ submission.started.strftime('%d/%m/%y %H:%M:%S') }}</td>
        <td>{{ submission.status }}</td>
        <td>{{ submission.grade }}</td>
        <td>
            {% if submission.comments %}
            <button type="button" onclick="toggleContent('comments', {{ submission.id }})">
                Show comments
            </button>
            {% endif %}
            {% if submission.errors %}
            <button type="button" onclick="toggleContent('errors', {{ submission.id }})">
                Show errors
            </button>
            {% endif %}
            <a href="{{ url_for('submissions.download', submission_id=submission.id) }}">
                <button type="button">
                    Download file
                </button>
            </a>
        </td>
    </tr>
    <tr id="comments-{{ submission.id }}" class="toggle-content">
        <td colspan="4">{{ submission.comments |nl2br |safe }}</td>
    </tr>
    <tr id="errors-{{ submission.id }}" class="toggle-content">
        <td colspan="4">{{ submission.errors |nl2br |safe }}</td>
    </tr>
    {% endfor %}
</table>

<script>
    function toggleContent(type, id) {
        const element = document.getElementById(`${type}-${id}`);
        if (element.style.display === 'none' || element.style.display === '') {
            element.style.display = 'table-row';
        } else {
            element.style.display = 'none';
        }
    }
</script>

{% endblock %}
